/*FOOTER*/
footer{
    padding: 15px 0 15px 20px;
    background-color: #5c5c5c;
    color:white;
    .logo{
        width: 20%;
        color:white;
    }
    .flex{
        margin-top:5px;
        a{
            color:white;
        }
    }

}
