/*REGLAGES GENERAUX*/
%primary{
    color:#9356DC;
}
%secondary{
    color:#FF79DA;
}
%tertiary{
    color:#99E2D0;
}
p, span, a{
    font-family: roboto;
}
a{
    text-decoration: none;
    color: black;
}
h1, h2, h3, h4{
    @font-face {
        font-family: 'Shrikhand';
        src: url('./font/Shrikhand.ttf');
    }
    font-family: 'Shrikhand';
}
.btn{
    padding: 10px 0 10px 0;
    margin:auto;
   /* border-radius:30px;*/
    box-shadow: 0px 0.5px 4px 1px rgb(102, 102, 102);
}
body{
    margin:0;
}
