
@import '_header';
@import '_footer';
@import '_general';
@import '_animation';


/*RESPONSIVE*/
@media screen and (max-width: 700px) {
    
/*Accueil*/
.subtitle{
    display: flex;
    padding: 15px 0;
    background-color: #dededf;
    opacity: 0.8;
    font-size: small;
    i{
        margin: 0 2px 0 auto;
        color:black;
    }
    span{
        margin: 0 auto 0 2px;
        color:black;
    }
}
.reservation{
    background-color: #f3f3f3;
    opacity: 0.8;
    padding: 20px 0 60px 0;
    .sous-reservation{
        width: 65%;
        margin:auto;
        text-align: center;
            h1{
                font-size: 26px;
                font-weight: bold;
            }
            p{
                color: #737375;
            }
            .btn{
                margin-top: 20px;
                background: linear-gradient(to bottom right, #FF79DA, #9356DC);
                border-radius: 30px;
                width: 70%;
                a{
                    color:white;
                }
            }
    }
}
.functionning{
    width: 80%;
    margin:auto;
    padding-bottom: 50px;
    h2{
        font-size: 24px;
    }
    .flex{
        display: flex;
        flex-direction:column;
        width: 98%;
        .row-flex{
            display: flex;
            flex-direction: row;
        }
    }
    .btn{
        background-color: #f3f3f3;
        opacity: 0.8;
        width: 98%;
        border-radius: 20px;
        padding: 20px 0;
        color:black;
        margin: 10px 0;
        i{
            margin: 0 10% 0 30px;
        }
        span{
            font-size:small;
        }
    }
    .little-btn{
        font-size: 20px;
        background-color: #9356DC;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        text-align: center;
        color: white;
        position: relative;
        top: 20px;
        left: 10px;
        z-index: 5;
        padding: 8px;
    }
}
.restaurants{
    width: 100%;
    padding: 10px 0 60px 0;
    background-color: #e9e9e9;
    h3{
        font-size: 24px;
        margin-left:10%
    }
    .flex{
        display: flex;
        flex-direction: column;
    }
    article{
        width: 80%;
        height: 250px;
        margin: 10px auto;
        background-color: white;
        border-radius: 15px;

        img{
            width: 100%;
            height: 70%;
            object-fit: cover;
            border-radius: 15px 15px 0 0;
            opacity: unset;
        }
        .text{
            margin: 15px 15px;
            p{
                margin: 0 !important;
                width: 50%;
            }
            .h4{
                font-weight: bold;
            }
            .text-places{
                font-weight:100;
                color:grey;
            }
            i{
                cursor: pointer;

            }
        }
    }
}
/*La palette du goût*/
.gout-background-img{
    width: 100%;
    height: 250px;
    background-image: url(img/restaurants/lapalettedugout.jpg);
    background-size: cover;  
}
/*La note enchantée*/
.enchante-background-img{
    width: 100%;
    height: 250px;
    background-image: url(img/restaurants/lanotenchantee.jpg);
    background-size: cover;
}

/*A la française*/
.background-img{
    width: 100%;
    height: 250px;
    background-image: url(img/restaurants/alafrancaise.jpg);
    background-size: cover;
}
.menus{
    padding: 40px 30px;
    background-color: #e9e9e9;
    border-radius: 60px 60px 0 0;
    margin-top:-50px;
    h2{
        text-transform: uppercase;
        margin-bottom:0;
        font-size: 18px;
        font-weight: 100;
        color:grey;
    }
    .restaurant-name{
        display: flex;
        font-style: italic;
        i{
            margin: auto 30px auto auto;
            font-size: larger;
            cursor: pointer;
            &:hover{
                animation-name:fa-beat;
                animation-delay:var(0s);
                animation-direction:var(normal);
                animation-duration: (1s);
                animation-timing-function: var(in-and-out);
            }
        }
        h1{
            font-size: 26px;
        }
    }
    article{
        width: 95%;
        background-color: white;
        margin:20px auto;
        border-radius: 20px;
        cursor:pointer;
        display: flex;
        height: 76px;
        .dishes{
            width: 90%;
            padding:20px 0 20px 15px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        .hover {
            border-radius: 0 30% 30% 0;
        }
        i{
            display: none;
            
        }
        &:hover{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        
            i{
                transform:unset;
                display: block;
                /*animation: rotateCheck .5s .1s forwards;*/
            }
            .hover{
                animation: hoverCheck .5s both ease-in;
                padding:0;
                border-radius: 0 30% 30% 0;
                background-color:#99E2D0;
                text-align:center;
            }
            .prix{
                text-align: start;
                padding-top:7.5%;
                width: 5%;
            }

        }
        h3{
            font-size: 16px;
            margin:0;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        h4{
            font-size: 14px;
        }
        p{
            font-size: 10px;
        }
    }
    .prix{
        width: 10%;
        text-align: right;
        padding:7.5% 20px 0 20px;
    }
   
    .btn{
        width: 30%;
        margin:auto;
        background: linear-gradient(to bottom right, #FF79DA, #9356DC);
        cursor:pointer;
        color:white;
        text-align: center;
        border-radius:20px;
    }
}
/*Le délice du sens*/
.sens-background-img{
    width: 100%;
    height: 250px;
    background-image: url(img/restaurants/ledelicedessens.jpg);
    background-size: cover;
}
}



/*TABLET*/
@media screen and (min-width: 700px) and (max-width:985px) {
/*Accueil*/

/*MAIN*/
.subtitle{
    display: flex;
    padding: 15px 0;
    background-color: #dededf;
    opacity: 0.8;
    font-size: small;
    i{
        margin: 0 2px 0 auto;
        color:black;
    }
    span{
        margin: 0 auto 0 2px;
        color:black;
    }
}
.reservation{
    background-color: #f3f3f3;
    opacity: 0.8;
    padding: 20px 0 60px 0;
    .sous-reservation{
        width: 65%;
        margin:auto;
        text-align: center;
            h1{
                font-size: 26px;
                font-weight: bold;
            }
            p{
                color: #737375;
            }
            .btn{
                margin-top: 20px;
                background: linear-gradient(to bottom right, #FF79DA, #9356DC);
                border-radius: 30px;
                width: 70%;
                a{
                    color:white;
                }
            }
    }
}
.functionning{
    width: 80%;
    margin:auto;
    padding-bottom: 50px;
    h2{
        font-size: 24px;
    }
    .flex{
        display: flex;
        flex-direction:row;
        width: 98%;
        margin:auto;
        .row-flex{
            display: flex;
            flex-direction: row;
            width: 34%;
        }
    }
    .btn{
        background-color: #f3f3f3;
        opacity: 0.8;
        width: 98%;
        border-radius: 20px;
        padding: 20px 0;
        color:black;
        margin: 10px 0;
        font-size: small;
        i{
            margin: 0 2px 0 10px;
        }
    }
    .little-btn{
        font-size: 20px;
        /* font: 25px Arial, sans-serif; */
        background-color: #9356DC;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        text-align: center;
        color: white;
        position: relative;
        top: 20px;
        left: 10px;
        z-index: 5;
        padding: 8px;
    }
}
.restaurants{
    width: 100%;
    padding: 10px 0 60px 0;
    background-color: #e9e9e9;
    h3{
        font-size: 24px;
        margin-left:10%
    }
    .flex{
        display: flex;
        flex-wrap: wrap;
    }
    article{
        width: 48%;
        height: 250px;
        margin: 10px auto;
        background-color: white;
        border-radius: 15px;
        img{
            width: 100%;
            height: 70%;
            object-fit: cover;
            border-radius: 15px 15px 0 0;
            opacity: unset;
        }
        .text{
            margin: 15px 15px;
            p{
                margin: 0 !important;
                width: 50%;
            }
            .h4{
                font-weight: bold;
            }
            .text-places{
                font-weight:100;
                color:grey;
            }
            i{
                cursor: pointer;

            }
        }
    }
}
/*La palette du goût*/
.gout-background-img{
    width: 100%;
    height: 250px;
    background-image: url(img/restaurants/lapalettedugout.jpg);
    background-size: cover;  
}
/*La note enchantée*/
.enchantee-background-img{
    width: 100%;
    height: 250px;
    background-image: url(img/restaurants/lanotenchantee.jpg);
    background-size: cover;
}
/*A la française*/
.background-img{
    width: 100%;
    height: 250px;
    background-image: url(img/restaurants/alafrancaise.jpg);
    background-size: cover;
}
.menus{
    padding: 40px 30px;
    background-color: #e9e9e9;
    border-radius: 60px 60px 0 0;
    margin-top:-50px;
    h2{
        text-transform: uppercase;
        margin-bottom:0;
        font-size: 18px;
        font-weight: 100;
        color:grey;
    }
    .restaurant-name{
        display: flex;
        font-style: italic;
        i{
            margin: auto 30px auto auto;
            font-size: larger;
            cursor: pointer;
            &:hover{
                animation-name:fa-beat;
                animation-delay:var(0s);
                animation-direction:var(normal);
                animation-duration: (1s);
                animation-timing-function: var(in-and-out);
            }
        }
        h1{
            font-size: 26px;
        }
    }
    
    article{
        width: 95%;
        background-color: white;
        margin:20px auto;
        border-radius: 15px;
        cursor:pointer;
        display: flex;
        height: 76px;

        .dishes{
            width: 70%;
            padding:20px 0 20px 15px;
        }
        &:hover{
            .hover{
                display: block;
                width: 30%;
                padding:0;
                border-radius: 0 20px 20px 0;
                background-color: #99E2D0;
                text-align:center;
                transition: all 1.5s;
                i{
                    animation: rotateCheck 1.5s forwards;
                }
            }
            .prix{
                text-align: end;
                padding-top:3.5%;
            }  
        }
        h3{
            font-size: 16px;
            margin:0;
            
        }
        h4{
            font-size: 14px;
        }
        p{
            font-size: 10px;
        }
    }
    .prix{
        width: 20%;
        text-align: right;
        padding:3.5% 20px 0 20px;
    }
    .hover {
        display: none;

    }
    .btn{
        width: 30%;
        margin:auto;
        background: linear-gradient(to bottom right, #FF79DA, #9356DC);
        cursor:pointer;
        color:white;
        text-align: center;
        border-radius:20px;
    }
}
/*Le délice du sens*/
.sens-background-img{
    width: 100%;
    height: 250px;
    background-image: url(img/restaurants/ledelicedessens.jpg);
    background-size: cover;
}
}



/*DESKTOP*/
@media screen and (min-width: 985px) and (max-width:1400px) {

/*Accueil*/
.subtitle{
    display: flex;
    padding: 15px 0;
    background-color: #dededf;
    opacity: 0.8;
    font-size: small;
    i{
        margin: 0 2px 0 auto;
        color:black;
    }
    span{
        margin: 0 auto 0 2px;
        color:black;
    }
}
.reservation{
    background-color: #f3f3f3;
    opacity: 0.8;
    padding: 20px 0 60px 0;
    .sous-reservation{
        width: 65%;
        margin:auto;
        text-align: center;
            h1{
                font-size: 26px;
                font-weight: bold;
            }
            p{
                color: #737375;
            }
            .btn{
                margin-top: 20px;
                background: linear-gradient(to bottom right, #FF79DA, #9356DC);
                border-radius: 30px;
                width: 70%;
                a{
                    color:white;
                }
            }
    }
}
.functionning{
    width: 80%;
    margin:auto;
    padding-bottom: 50px;
    h2{
        font-size: 24px;
    }
    .flex{
        display: flex;
        flex-direction:row;
        width: 98%;
        .row-flex{
            display: flex;
            flex-direction: row;
            width: 34%;
        }
    }
    .btn{
        background-color: #f3f3f3;
        opacity: 0.8;
        width: 98%;
        border-radius: 20px;
        padding: 20px 0;
        color:black;
        margin: 10px 0;
        i{
            margin: 0 10px 0 20px;
        }
    }
    .little-btn{
        font-size: 20px;
        /* font: 25px Arial, sans-serif; */
        background-color: #9356DC;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        text-align: center;
        color: white;
        position: relative;
        top: 20px;
        left: 10px;
        z-index: 5;
        padding: 8px;
    }
}
.restaurants{
    width: 100%;
    padding: 10px 0 60px 0;
    background-color: #e9e9e9;
    h3{
        font-size: 24px;
        margin-left:10%
    }
    .flex{
        display: flex;
        flex-wrap: wrap;
    }
    article{
        width: 48%;
        height: 250px;
        margin: 10px auto;
        background-color: white;
        border-radius: 15px;

        img{
            width: 100%;
            height: 70%;
            object-fit: cover;
            border-radius: 15px 15px 0 0;
            opacity: unset;
        }
        .text{
            margin: 15px 15px;
            p{
                margin: 0 !important;
                width: 50%;
            }
            .h4{
                font-weight: bold;
            }
            .text-places{
                font-weight:100;
                color:grey;
            }
            i{
                cursor: pointer;

            }
        }
    }
}
/*La palette du goût*/
.gout-background-img{
    width: 100%;
    height: 250px;
    background-image: url(img/restaurants/lapalettedugout.jpg);
    background-size: cover;  
}
/*La note enchantée*/
.enchantee-background-img{
    width: 100%;
    height: 250px;
    background-image: url(img/restaurants/lanotenchantee.jpg);
    background-size: cover;
}
/*A la française*/
.background-img{
    width: 100%;
    height: 250px;
    background-image: url(img/restaurants/alafrancaise.jpg);
    background-size: cover;
}
.menus{
    padding: 40px 30px;
    background-color: #e9e9e9;
    border-radius: 60px 60px 0 0;
    margin-top:-50px;
    h2{
        text-transform: uppercase;
        margin-bottom:0;
        font-size: 18px;
        font-weight: 100;
        color:grey;
    }
    .restaurant-name{
        display: flex;
        font-style: italic;
        i{
            margin: auto 30px auto auto;
            font-size: larger;
            cursor: pointer;
            &:hover{
                animation-name:fa-beat;
                animation-delay:var(0s);
                animation-direction:var(normal);
                animation-duration: (1s);
                animation-timing-function: var(in-and-out);
            }
        }
        h1{
            font-size: 26px;
        }
    }
    
    article{
        width: 95%;
        background-color: white;
        margin:20px auto;
        border-radius: 15px;
        cursor:pointer;
        display: flex;
        height: 76px;

        .dishes{
            width: 70%;
            padding:20px 0 20px 15px;
        }
        &:hover{
            .hover{
                display: block;
                width: 30%;
                padding:0;
                border-radius: 0 20px 20px 0;
                background-color: #99E2D0;
                text-align:center;
                transition: all 1.5s ease-in-out;
                i{
                    margin-top:12%;
                    animation: rotateCheck 1.5s forwards ;
                }
            }
            .prix{
                text-align: end;
                padding-top:2.5%;
            }  
        }
        h3{
            font-size: 16px;
            margin:0;
            
        }
        h4{
            font-size: 14px;
        }
        p{
            font-size: 10px;
        }
    }
    .prix{
        width: 20%;
        text-align: right;
        padding:2.5% 20px 0 20px;
    }
    .hover {
        display: none;

    }
    .btn{
        width: 30%;
        margin:auto;
        background: linear-gradient(to bottom right, #FF79DA, #9356DC);
        cursor:pointer;
        color:white;
        text-align: center;
        border-radius:20px;
    }
}

/*Le délice du sens*/
     /*MAIN*/
.sens-background-img{
    width: 100%;
    height: 250px;
    background-image: url(img/restaurants/ledelicedessens.jpg);
    background-size: cover;
}
}
