
/* Première animation*/
@keyframes animLoading {
    0%{
        opacity: 1;
        display: block;
        z-index: 99;
    }
    98%{
        opacity: 1;
        display: block;
        z-index: 99;
    }
    100%{
        opacity: 0;
        display: none;
        z-index: -1;
    }
    
}
.loading{
    text-align: center;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 20;
    background-color: white;
    padding: 100px 0;
    font-size: 50px;
    animation: animLoading 3s forwards;
    p{
        width: 90%;
        text-align: center;
        font-size: medium;
    }
    
}
/* Deuxième animation*/

    .heart{
        width: 17px;
        height: 17px;
        position: relative;
        bottom:30px;
        left:84%;

        .fa-solid{
            position: absolute;
            opacity: 0;
            z-index: 2;
            transition: all 1s;
            background: linear-gradient(to bottom right, #FF79DA, #9356DC);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .fa-regular{
            position: absolute;
            z-index: 3;
            cursor: pointer;
            transition: all 1s forwards;
            &:hover{
                opacity: 0;
    
            }
            &:hover+i{
                opacity: 1;
                background: linear-gradient(to bottom right, #FF79DA, #9356DC);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }

    .restaurant-name{
        .heart{
            top:26px;
            left:40%;
        }

    }
    @media screen and (min-width: 700px) and (max-width:985px){
        .restaurant-name{
            .heart{
                top:26px;
                left:70%;
            }
    
        }
    }
    @media screen and  (min-width:985px){
        .restaurant-name{
            .heart{
                top:26px;
                left:80%;
            }
    
        }
    }
/* Troisième animation*/
@keyframes rotateCheck{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform: rotate(1turn) ;
    }
}
@keyframes endCheck{
    0%{
        transform: translate(0);
        opacity: 1;
    }

    100%{
        transform: translate(5px, 0);
        opacity: 0; 
    }

}

@keyframes hoverCheck{
    0%{
        width: 0;
    }
    100%{
        width: 25%;
    }
}
/* Dernière animation*/
@keyframes fourthAnim{
    0%{
        transform: translateY(15px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
.appetizer article, .main-course article, .desert article{
    &:first-child{
        animation: fourthAnim 3s both;
    }
}
.appetizer article, .main-course article, .desert article{
    &:nth-child(2n){
        animation: fourthAnim 3s both;
        animation-delay: 0.3s;
    }
}
.appetizer article, .main-course article, .desert article{
    &:nth-child(3n){
        animation: fourthAnim 3s both;
        animation-delay: 0.45s;
    }
}
.appetizer article, .main-course article, .desert article{
    &:nth-child(4n){
        animation: fourthAnim 3s both;
        animation-delay:0.6s;
    }
}
